{% extends 'base.html' %}
{% block body %}
    <div style="width:50vh; margin-left:5vw; margin-top:3vh;">
        <h1 style=" font-style: italic;">SASTA MARKET</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque consectetur nisi magni velit harum modi, animi accusantium aliquid ea repellendus blanditiis voluptas corrupti consequuntur sequi laborum id! Praesentium corporis ratione dolor iure est deleniti earum expedita ducimus odio repellendus ad nam accusamus blanditiis impedit quas similique veritatis nostrum nulla veniam, magnam doloribus, quis exercitationem. Culpa quis laboriosam optio magnam nobis eveniet neque officiis. Dicta tempore harum doloremque iste. Praesentium sint, fugiat velit exercitationem et dolorem quibusdam 
        </p>
    </div>
{% endblock body %}