{% extends 'base.html' %}
{% block body %}
    
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/static/images/1.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kettle</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam omnis aut blanditiis sapiente repellat velit quia illum facilis molestiae asperiores.</p>
          <a href="" class="btn btn-outline-dark">Buy</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/images/2.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Remote</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis accusamus, doloremque autem amet itaque fugit nam aut dolorum soluta qui!</p>
          <a href="" class="btn btn-outline-dark">Buy</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/images/3.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Smart-watch</h5>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos eos eligendi nam dicta blanditiis deserunt, aliquid at enim aspernatur quibusdam?\</p>
          <a href="" class="btn btn-outline-dark">Buy</a>
        </div>
      </div>
    </div>
  </div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/static/images/4.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Amazon Mini</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="" class="btn btn-outline-dark">Buy</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/images/5.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Speaker</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem error rem quod atque officiis quae facere excepturi sit cumque veniam?</p>
          <a href="" class="btn btn-outline-dark">Buy</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/images/6.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Earbuds</h5>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe a corporis esse odio nulla tenetur modi nam, temporibus incidunt maiores.</p>
          <a href="" class="btn btn-outline-dark">Buy</a>
        </div>
      </div>
    </div>
  </div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="/static/images/7.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Speaker</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, cum aut! Vero saepe sequi expedita aspernatur illum veniam tempore dolor?</p>
          <a href="" class="btn btn-outline-dark">Buy</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/images/8.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Boat Earphones</h5>
          <p class="card-text">This is a short card.</p>
          <a href="" class="btn btn-outline-dark">Buy</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="/static/images/9.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Boult Earbuds</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum praesentium quidem impedit illum architecto quis repellendus nam vero qui. Alias?</p>
          <a href="" class="btn btn-outline-dark">Buy</a>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}